@model IEnumerable<Test6.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj studenta</a>
</p>

        <input id="s" class="form-control" type="text" value="@ViewData["filter"]" autofocus placeholder="Pretraga"
           aria-label="Pretraga" onkeyup="categorySeacrh(event, this.value);">

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojIndeksa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktivan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojIndeksa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aktivan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentID" class="btn btn-primary">Izmeni</a> |
                <a asp-action="Details" asp-route-id="@item.StudentID" class="btn btn-secondary">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentID" class="btn btn-danger" new { onclick = "return deleteProductModal()" }>Obrisi</a>
            </td>
        </tr>
}
    </tbody>
</table>
 <script>

     function deleteProductModal() {
        return confirm('Da li ste sigurni da zelite da obrisete?');
    }

      function categorySeacrh(e, filter) {

        if (e.keyCode == 13) {
            window.location.href = "/Student/Index?filter=" + filter;
        }
    }
 </script>
